<br><br>

<h2><%= @post.title %></h2>

<br>

<fieldset>
	<%= @post.content %>
</fieldset>

<p> posted by <%= link_to "#{@post.user.username}" %></p>

<br><br>

<br>

<% if @post.user_id == @current_user.id %>
	<%= link_to "Edit", edit_post_path(@post) %>
<% end %>


